<!doctype html>
<html>
  <head>
    <title>Dobble</title>
    <link type="text/css" rel="stylesheet" media="screen" href="styles.css">
  </head>
  <body>
	<div class="body-wrapper">
		<div class="overlay">
			<div class="join-panel panel">
				<div class="join-panel-line">
					<input id="player-name" type="text" name="player-name" placeholder="Name">
				</div>
				<div class="join-panel-line">
					<input id="game-to-join" type="text" name="game-to-join" placeholder="Game code to join">
				</div>
				<div class="join-panel-line">
					<span id="ok-button">OK</span>
				</div>
			</div>
			
			<div class="players-panel panel" style="display:none;">
				<div class="game-code-line"><span>Game code:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span  id="game-code"></span></div>
				<div id="start">Start</div>
				<div class="players-line">
					<div class="player-list-title">Players</div>
					<div id="player-list"></div>
				</div>
			</div>
			
			<div class="results-panel panel" style="display:none;">
				<div class="players-line">
					<div class="player-list-title">Results</div>
					<div id="player-result-list"></div>
				</div>
			</div>
		</div>
		<div id="playground">
			<div class="current-common-card-wrapper">
				<div class="title">Common card</div>
				<div id="current-common-card">
					<img src="img/back.jpg"/>
				</div>
			</div>
			<div class="current-player-card-wrapper">
				<div class="title">Your card (click picture that is on Common card too)</div>
				<div id="current-player-card">
					<img src="img/back.jpg"/>
				</div>
			</div>
		</div>
	</div>
	
	<script src="/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
		var socket = io();
		$('#start').click(function () {
			$(".overlay").hide();
			socket.emit('start', '');
		});
		
		$('#current-player-card').on("click", "polygon", function(e){
			e.preventDefault();
			socket.emit('selectPict', this.attributes.name.value);
		});
		
		$("#ok-button").click(function(){
			socket.emit('newPlayer', $("#player-name").val(), $("#game-to-join").val());
			$(".join-panel").hide();
			$(".players-panel").show();
		});
		
		function displayPlayer(player){
			$('#player-list').append($('<div class="player" id="' + player.id + '">').text(player.name));
		};
		
		socket.on('roomPlayers', function (players, roomName) {
			var players = $.parseJSON(players);
			$('#player-list').empty();
			$.each(players, function(index, player) {
				displayPlayer(player);
			});
			
			$('#game-code').empty().append(roomName);
		});
		
		socket.on('playerDisconnected', function (playerId) {
			$('#' + playerId).remove();
		});
		
		socket.on('start', function (commonCard) {
			$(".overlay").hide();
		});
		
		socket.on('changeCommonCard', function (commonCard) {
			$('#current-common-card').empty().append(commonCard);//todo: pics to background
		});
		
		socket.on('changePlayerCard', function (playerCardMarkup) {
			$('#current-player-card').empty().append(playerCardMarkup);//todo: pics to background
		});
		
		socket.on('playerFinished', function (players) {
			$(".overlay").show();
			$(".results-panel").show();
			$('#player-result-list').empty();		
			$.each(players, function(index, player) {
				displayFinishedPlayer(index, player);
			});
		});
		
		function displayFinishedPlayer(index, player){
			$('#player-result-list').append($('<div class="player" id="' + player.id + '">')
										.append($('<span class="player-name">').text(index + 1 + ". " + player.name))
										.append($('<span class="player-time">').text(player.time)));
		};
	</script>
  </body>
</html>