<!doctype html>
<html>
  <head>
    <title>Dobble - Start the game</title>
    <link type="text/css" rel="stylesheet" media="screen" href="styles.css">
  </head>
  <body>
	<div class="body-wrapper">
		<div class="overlay">
			<div class="name-input">
				<input id="player-name" type="text" name="player-name">
				<input id="ok-button" value="Ok" type="submit">
			</div>
		</div>
		<div id="playground">
			<div id="current-common-card">
				<img src="img/back.jpg"/>
			</div>
			<div id="current-player-card">
				<img src="img/back.jpg"/>
			</div>
		</div>
		<div id="players">
			<div class="player-list-title">Players</div>
			<div id="player-list"></div>
			<div id="start">Start</div>
		</div>
	</div>
	
	<script src="/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
		var socket = io();
		$('#start').click(function () {
			socket.emit('readyToStart', '');
		});
		
		$('#current-player-card').click(function () {
			socket.emit('selectPict', '');
		});
		$(document).ready(function(){
			$.ajax({
				url: "/players",
				success: function(playersJson){
					var players = $.parseJSON(playersJson);
					$.each(players, function(index, player) {
						playerFormatter(player);
					});
				},
				error: function(){}
			});
		});
		
		$("#ok-button").click(function(){
			socket.emit('newPlayer', $("#player-name").val());
			$(".overlay").hide();
		});
		
		function playerFormatter(player){
			$('#player-list').append($('<div class="player" id="' + player.id + '">').text(player.name));
		};
		
		socket.on('playerConnected', function (player) {
			playerFormatter(player);
		});
		
		socket.on('playerDisconnected', function (playerId) {
			$('#' + playerId).remove();
		});
		
		socket.on('changeCards', function (commonCard, playerCardMarkup) {
			$('#current-common-card img').attr("src", "img/" + commonCard + ".jpg");//todo: pics to background
			$('#current-player-card').empty().append(playerCardMarkup);//attr("src", "img/" + playerCard + ".jpg");
		});
	</script>
  </body>
</html>