body {
	margin: 0;
	font-family: sans-serif;
}

#playground {
	float: left;
}

#players {
	position: fixed;
	right: 0;
	width: 20%;
	height: 100%;
	border-left: 1px #000 solid;
}

.player-list-title {
	background-color: #9966cc;
	font-size: 14pt;
	text-align: center;
	padding: 7px;
}

#player-list div:nth-child(even) {
	background-color: #ccc;
}

.player {
	padding: 4px 0 4px 12px;
}
