body {
	margin: 0;
	font-family: sans-serif;
}

.overlay {
	background: rgba(0, 0, 0, .6);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
}

.start-panel {
	width: 268px;
	height: 125px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
	margin: auto;
	background-color: #fff;
	padding: 16px;
	border: 5px solid #9966cc;
	border-radius: 10px;
}

.start-panel-line {
	text-align: center;
	margin-bottom: 16px;
}

.start-panel-line input {
	font-size: 16pt;
	width: 263px;
}

.start-panel-line #ok-button {
	font-size: 16pt;
	width: 267px;
	padding: 3px 0;
	background-color: #f4cb02;
	display: block;
}

#playground {
	float: left;
}

#players {
	position: fixed;
	right: 0;
	width: 20%;
	height: 100%;
	border-left: 1px #000 solid;
}

.player-list-title {
	background-color: #9966cc;
	font-size: 14pt;
	text-align: center;
	padding: 7px;
}

#player-list div:nth-child(even) {
	background-color: #ccc;
}

.player {
	padding: 4px 0 4px 12px;
}

#current-common-card {
	float: left;
}

#current-player-card {
	float: right;
}
