body {
	margin: 0;
	font-family: sans-serif;
}

.body-wrapper {
	height: 100%;
}

.overlay {
	background: rgba(0, 0, 0, .6);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
}

.button {
	width: 100px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    line-height: 40px;
	border: 5px solid #9966cc;
	background-color: #f4cb02;
	border-radius: 15px;
	font-weight: bold;
	font-size: 16pt;
	display: block;
}

.panel {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
	margin: auto;
	background-color: #fff;
	padding: 16px;
	border: 5px solid #9966cc;
	border-radius: 10px;
}

.join-panel {
	width: 268px;
	height: 120px;
}

.players-panel {
	width: 268px;
	height: 343px;
}

.results-panel {
	width: 268px;
	height: 343px;
}

.join-panel-line,
.players-panel-line,
.results-panel-line {
	margin-bottom: 8px;
}

.play-again-title {
	text-align: center;
	margin: 0 0 8px 0;
	padding: 8px 0 0 0;
	font-weight: bold;
}

#again-yes-button {
	float: left;
}

#again-no-button {
	float: right;
}

.join-panel-line input {
	font-size: 16pt;
	width: 263px;
}

.game-code{
	padding: 4px 0 0 12px;
}

.players-panel .players,
.results-panel .players
{
	margin: 0 0 5px 0;
}

.player-list-title {
	background-color: #9966cc;
	font-weight: bold;
	text-align: center;
	padding: 7px;
	border-radius: 5px;
}

.player {
	padding: 4px 0 4px 12px;
	margin-right: 12px;
	text-overflow: clip;
	border-bottom: solid #9966cc 2px;
}

.player-name {
	display: block
	float: left;
}

.player-time {
	display: block;
	float: right;
}

#playground {
	width: 766px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
	margin: 10px auto;
}

#current-common-card,
#current-player-card  {
	width: 343px;
	height: 490px;
	border: 10px solid #f4cb02;
	border-radius: 40px;
	overflow: hidden;
}

#current-common-card  img,
#current-player-card  img {
	width: 100%;
	height: auto;
}

.current-common-card-wrapper {
	float: left;
	margin: 0 20px 0 0;
}

.current-player-card-wrapper {
	float: right;
	margin: 0 20px 0 0;
}

#playground .title {
	font-size: 10pt;
}

.player-again-yes,
.player-again-no {
    float: right;
	font-weight: bold;
}

.player-again-yes {
	color: #9966cc;
    margin-right: 10px;
}

.player-again-no {
	color: #f4cb02;
    margin-right: 14px;
}
